<%= form_for @movie do |f| %>
 <div class="col-lg-4 m-4">
    <div>
      <%= f.label :title, 'Título', class:"form-label" %>
      <%= f.text_field :title, class:"form-control"%>
    </div>
    <div>
       <%= f.label :year, 'Ano de lançamento', class:"form-label" %>
      <%= f.text_field :year, class:"form-control" %>
    </div>
    <div>
   <%= f.label :country, 'País de origem', class:"form-label" %>
      <%= f.text_field :country, class:"form-control" %>
    </div>
    <div>
    <%= f.label :plor, 'Sinopse', class:"form-label" %>
      <%= f.text_field :plot, class:"form-control" %>
    </div>
    <div>
      <%= f.label :genre, 'Gênero', class:"form-label" %>
      <%=f.collection_select :genre, Genre.all, :id, :name, class:"form-control"  %>
    </div>
    <div>
      <%= f.label :director, 'Diretor', class:"form-label" %>
      <%=f.collection_select :director, Director.all, :id, :name, class:"form-control"  %>
    </div>
    <div>
      <div>
      <%= f.label :is_available, 'Disponível', class:"form-label" %>
       <%= f.select :is_available, options_for_select(Movie.is_availables.map {|key, value| [key.titleize, Movie.is_availables.key(value)]}, @movie.is_available) %>
    </div>
      <%= f.label :is_available, 'Poster', class:"form-label" %>
      <%= f.file_field :poster, class:"form-control" %>
    </div>
    <%= f.submit 'Editar', class:"w-30 btn btn-primary mt-4" %> 
<% end %>
<%= button_to "Destroy this classroom" , @movie, method: :delete,method: :delete, class:"w-30 btn btn-danger mt-4" %>