<h1>Diretor: <%= @movie.title%> </h1>
<% if flash[:notice] %>
  <div style="margin: 10px 0px">
    <%= flash[:notice] %>
  </div>
  <% end %>
<dl>
<dt><strong>Título: </strong><%= @movie.title %></dt>
<dt><strong>Ano de lançamento: </strong><%= @movie.year %></dt>
<dt><strong>Sinopse: </strong><%= @movie.plot %></dt>
<dt><strong>País de origem: </strong><%= @movie.country%></dt>
<dt><strong>Duração: </strong><%= @movie.running_time%> minutos</dt>
<dt><strong>Genero: </strong><%= @movie.genre.name%> </dt>
<dt><strong>Diretor: </strong><%= @movie.director.name %> </dt>
<dt><strong>Disponibilidade: </strong><%= @movie.is_available %> </dt>

<%= link_to 'Editar', edit_movie_path %>
</dl>