<h1>Cadastro de Filmes, bem vindo!</h1>
<h3>Filmes</h3>
<ul>
  <li>
  <%= link_to 'Cadastrar', new_movie_path %>
  </li>
  <li>
  <%= link_to 'Ver todos', movies_path %>
  </li>
</ul>
<h3>Generos:</h3>
<ul>
 <li>
  <%= link_to 'Cadastrar', new_genre_path %>
  </li>
  <li>
  <%= link_to 'Ver todos', genres_path %>
  </li>
</ul>
<h3>Diretores:</h3>
<ul>
 <li>
  <%= link_to 'Cadastrar', new_director_path %>
  </li>
  <li>
  <%= link_to 'Ver todos', directors_path %>
  </li>
</ul>