<div class="p-5 text-center bg-body-tertiary rounded-3">
   
    <h1 class="text-body-emphasis">Cadastro de Filmes</h1>
    <p class="col-lg-8 mx-auto fs-5 text-muted">
      <h3>Filmes</h3>

     
  <%= link_to 'Cadastrar', new_movie_path %> - 
  
  <%= link_to 'Ver todos', movies_path %>
 
<h3>Generos:</h3>

  <%= link_to 'Cadastrar', new_genre_path %> - 

  <%= link_to 'Ver todos', genres_path %>

<h3>Diretores:</h3>

  <%= link_to 'Cadastrar', new_director_path %>  - 
 
  <%= link_to 'Ver todos', directors_path %>

</p>
    
  </div>

